// Nextflow Config File

// Process execution
// executor = "local"
process.executor = 'local'
process.queue = 'long'

// Input and Output Directories
params.input_dir = "/home/anirudh/Nextflow--RNA-Seq-Pipeline/input_fastq"
params.output_dir = "/home/anirudh/Nextflow--RNA-Seq-Pipeline/output"

// Reference files
params.genomeIndex = "/home/anirudh/Nextflow--RNA-Seq-Pipeline/genomeIndex"
params.annotation = "/home/anirudh/Nextflow--RNA-Seq-Pipeline/reference/hg38/gencode.v46.annotation.gtf"
params.adapters = "/home/anirudh/Nextflow--RNA-Seq-Pipeline/adapters/TruSeq3-PE-2.fa"

// Threads
params.threads = 8

// Docker Configuration
docker.enabled = true
docker.image = "image_name"